* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* PURE BLACK GRADIENT */
    background: linear-gradient(135deg, #000000, #0a0a0a, #121212);

    color: white;
    text-align: center;
}

/* MAIN CONTAINER (Glass Effect) */
.container {
    max-width: 600px;
    padding: 40px;
    border-radius: 25px;

    background: rgba(255, 255, 255, 0.05); /* subtle glass */
    backdrop-filter: blur(12px);

    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.8);

    transition: 0.4s ease;
}


.container:hover {
    transform: scale(1.03);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.2),
                0 0 60px rgba(255, 255, 255, 0.1);
}

/* HEADING */
h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

/* TEXT */
p {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.6;
    color: #ccc;
}

/* ICON */
.emoji {
    font-size: 50px;
    margin-bottom: 20px;
}

/* BUTTON */
.btn {
    padding: 10px 20px;
    background: white;
    color: black;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

/* FOOTER TEXT */
.footer-text {
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.7;
}